html, body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.main_page {
  height: 100%;
  width: calc(100% - 800px);
  margin: auto;
  position: absolute;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
@media (max-width: 1400px) {
  .main_page {
    width: calc(100% - 100px);
  }
}

/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0 !important;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --font-primary: sans-serif;
  --font-secondary: serif;
  /* set base values */
  --text-base-size: 1em;
  --text-scale-ratio: 1.2;
  /* type scale */
  --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
  --text-sm: calc(1em / var(--text-scale-ratio));
  --text-md: calc(1em * var(--text-scale-ratio));
  --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  /* line-height */
  --heading-line-height: 1.2;
  --body-line-height: 1.4;
}

@media (max-width: 1400px) {
  :root {
    --text-base-size: 1.25em;
    --text-scale-ratio: 1.25;
  }
}
body {
  font-size: var(--text-base-size);
  font-family: var(--font-primary);
  color: var(--color-text);
}

h1, h2, h3, h4, form legend {
  color: var(--color-text-heading);
  margin-bottom: var(--space-xxs);
  line-height: var(--heading-line-height);
}

/* text size */
.text--xxxl {
  font-size: var(--text-xxxl);
}

h1, .text--xxl {
  font-size: var(--text-xxl);
}

h2, .text--xl {
  font-size: var(--text-xl);
}

h3, .text--lg {
  font-size: var(--text-lg);
}

h4, .text--md {
  font-size: var(--text-md);
}

.text--sm, small {
  font-size: var(--text-sm);
}

.text--xs {
  font-size: var(--text-xs);
}

p {
  line-height: var(--body-line-height);
}

a {
  color: var(--color-link);
}
a:visited {
  color: var(--color-link-visited);
}

b, strong {
  font-weight: bold;
}

.text-container h2, .text-container h3, .text-container h4 {
  margin-top: var(--space-sm);
}
.text-container ul, .text-container ol, .text-container p {
  margin-bottom: var(--space-md);
}
.text-container ul, .text-container ol {
  list-style-position: outside;
  padding-left: 24px;
}
.text-container ul {
  list-style-type: disc;
}
.text-container ol {
  list-style-type: decimal;
}
.text-container ul li, .text-container ol li {
  line-height: var(--body-line-height);
}
.text-container em {
  font-style: italic;
}
.text-container u {
  text-decoration: underline;
}

/* utility classes */
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.error {
  width: 30%;
  padding: 10px;
  border: 1px solid #a94442;
  color: #a94442;
  background: #f2dede;
  border-radius: 5px;
  text-align: left;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translate(-50%, -50%);
}

header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  position: fixed;
  left: 0;
  width: 100%;
}
header.scroll {
  background-color: rgba(36, 41, 46, 0.9);
  transition: background-color 600ms linear;
}

.nav_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  position: fixed;
  width: calc(100% - 200px);
  height: 100px;
}
@media (max-width: 1400px) {
  .nav_box {
    width: calc(100% - 100px);
  }
}

.navigation {
  transition: all 0.6s ease-in-out;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  font-family: "Open Sans", sans-serif;
}

li {
  color: #fff;
  display: block;
  float: left;
  padding: 0.7rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

li a {
  color: #fff;
  font-size: 1.2rem;
  text-transform: capitalize;
}
li a i {
  padding-left: 10px;
}

li:hover,
li:focus-within {
  cursor: pointer;
}

li:focus-within a {
  outline: none;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  min-width: 7rem;
  position: absolute;
  transition: all 0.5s ease;
  top: 2.5rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
  clear: both;
  width: 100%;
  border-top: 1px solid #fff;
}
ul li ul li a {
  font-size: 1em;
}
ul li ul li:hover {
  background: rgba(255, 255, 255, 0.5);
  color: #000;
}

.hide {
  display: none;
}

.border_last {
  border: 2px solid #fff;
  padding: 4px 10px 4px 10px;
  border-radius: 10px;
}
.border_last:hover {
  background-color: #000;
}

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}

.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal-window > div {
  width: 510px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 2em;
  background: #ffffff;
}

.modal-window header {
  font-weight: bold;
}

.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
  font-family: "Open Sans", sans-serif;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 100%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

.modal-close:hover {
  color: black;
}

textarea:focus, input:focus {
  outline: none;
}

.form_login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}

.input_login {
  display: block;
  margin: 5px 0px 20px 0px;
  width: 100%;
  line-height: 30px;
  font-size: 15px;
  border: none;
  border-bottom: 2px solid #000;
  text-align: center;
}

.label_login {
  font-size: 1.1rem;
  font-family: "Open Sans", sans-serif;
  align-items: center;
}

.field-wrap_login {
  width: 80%;
}

.forgot_login {
  text-decoration: none;
  color: #000;
  font-size: 15px;
  padding-bottom: 20px;
}
.forgot_login a {
  text-decoration: none;
  color: #000;
}

.button_login {
  padding: 10px;
  width: 100px;
  font-size: 15px;
  background-color: transparent;
  border: 2px solid #000;
  cursor: pointer;
}

.button_login:hover {
  background-color: #000;
  color: #fff;
}

/*///////////////////////////////////////////////////////////////////
SIGNUP-FORM
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.signup_form {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans";
}
.signup_form .signup_form_group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 30px;
}
@media (max-width: 1400px) {
  .signup_form .signup_form_group {
    padding-bottom: 10px;
  }
}
.signup_form label {
  font-weight: bold;
  color: #fff;
  padding-bottom: 10px;
}
.signup_form label::after {
  content: "*";
  padding-left: 5px;
  color: #cb2431;
}
@media (max-width: 1400px) {
  .signup_form label {
    font-size: 0.8em;
  }
}
.signup_form .input_button {
  font-size: 25px;
  background-color: #E0E0E0;
  border: 1px solid #fff;
  border-radius: 5px;
  padding-left: 10px;
  height: 30px;
}
@media (max-width: 1400px) {
  .signup_form .input_button {
    font-size: 0.8em;
  }
}
.signup_form .pass_strenght {
  font-size: 0.7em;
  color: #fff;
  padding-top: 10px;
}
@media (max-width: 1400px) {
  .signup_form .pass_strenght {
    font-size: 0.6em;
  }
}
.signup_form .email_pref {
  font-weight: bold;
  color: #fff;
  padding-bottom: 10px;
  font-size: 0.9em;
}
@media (max-width: 1400px) {
  .signup_form .email_pref {
    font-size: 0.8em;
  }
}
.signup_form .all_email_box {
  font-size: 0.9em;
}
@media (max-width: 1400px) {
  .signup_form .all_email_box {
    font-size: 0.6em;
  }
}
.signup_form .all_email_box::after {
  content: none;
}
.signup_form .checkbox {
  height: 15px;
  width: 15px;
}
.signup_form .submit_button {
  height: 60px;
  background-color: #E0E0E0;
  color: #24292e;
  border: none;
  border-radius: 10px;
  font-size: 1.5em;
  font-family: "Open Sans";
  font-weight: bold;
  cursor: pointer;
}
.signup_form .submit_button:hover {
  background-color: #24292e;
  color: #fff;
  transition-duration: 0.4s;
  border: 2px solid #fff;
}
@media (max-width: 1400px) {
  .signup_form .submit_button {
    height: 40px;
  }
}
.signup_form .services_box {
  color: #fff;
  padding-top: 40px;
  font-size: 0.8em;
}
@media (max-width: 1400px) {
  .signup_form .services_box {
    font-size: 0.6em;
    padding-top: 20px;
  }
}
.signup_form .services_box a {
  color: #0366d6;
}

/*///////////////////////////////////////////////////////////////////
FILTER-FORM
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.filter_form {
  height: 80%;
  width: 400px;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans";
  color: #fff;
}
.filter_form .filter_group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 30px;
}
.filter_form .filter_group label {
  font-weight: bold;
  color: #fff;
  padding-bottom: 10px;
}
@media (max-width: 1400px) {
  .filter_form .filter_group label {
    font-size: 0.8em;
  }
}
.filter_form .filter_group .input_button {
  font-size: 1em;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  padding-left: 10px;
  height: 30px;
  color: #fff;
}
@media (max-width: 1400px) {
  .filter_form .filter_group .input_button {
    font-size: 0.8em;
  }
}
.filter_form .submit_button {
  height: 40px;
  background-color: #fff;
  color: #24292e;
  border: none;
  border-radius: 10px;
  font-size: 1.3em;
  font-family: "Open Sans";
  font-weight: bold;
  cursor: pointer;
}
.filter_form .submit_button:hover {
  background-color: #24292e;
  color: #fff;
  transition-duration: 0.4s;
  border: 2px solid #fff;
}
@media (max-width: 1400px) {
  .filter_form .submit_button {
    height: 40px;
  }
}
.filter_form .filter_group_row {
  display: flex;
  flex-direction: rows;
  justify-content: center;
  width: 100%;
}
.filter_form .filter_group_row .filter_group_row_box {
  width: 100%;
  padding-bottom: 30px;
}
.filter_form .filter_group_row .filter_group_row_box label {
  font-weight: bold;
  color: #fff;
  padding-bottom: 10px;
}
@media (max-width: 1400px) {
  .filter_form .filter_group_row .filter_group_row_box label {
    font-size: 0.8em;
  }
}
.filter_form .filter_group_row .filter_group_row_box .input_row {
  font-size: 1em;
  background-color: transparent;
  border: 1px solid #fff;
  padding-left: 10px;
  height: 30px;
  width: 100%;
  color: #fff;
  margin-top: 10px;
  font-family: "Open Sans";
}
@media (max-width: 1400px) {
  .filter_form .filter_group_row .filter_group_row_box .input_row {
    font-size: 0.8em;
  }
}
.filter_form .filter_group_row .filter_group_row_box .input_row option {
  background-color: #000;
}
.filter_form .filter_group_row .filter_group_row_box .left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.filter_form .filter_group_row .filter_group_row_box .right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.home_body {
  background: url(../assets/house_heroimage.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.hero_text {
  font-size: 2.5rem;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 5px;
  width: 850px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 50px;
}

.hero_button {
  background-color: #fff;
  border-radius: 20px;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: #000;
  letter-spacing: 5px;
  font-size: 1.5rem;
}

.hero_button:hover {
  background-color: #000;
  color: #fff;
  transition-duration: 0.4s;
}

@media (max-width: 1400px) {
  .hero_text {
    font-size: 2rem;
  }

  .hero_button {
    width: 250px;
    height: 40px;
  }
}
.body_join {
  background-color: #24292e;
}

.registration {
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.reg_box {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 1400px) {
  .reg_box {
    width: 50%;
  }
}
.reg_box h1 {
  font-family: "Open Sans";
  padding-top: 50px;
  font-size: 1rem;
  color: #E0E0E0;
}
.reg_box h2 {
  font-family: "Open Sans";
  font-size: 2.5em;
  color: #ffffff;
  padding-bottom: 20px;
}
@media (max-width: 1400px) {
  .reg_box h2 {
    font-size: 1.5em;
  }
}

.main_body {
  background-color: #24292e;
}

.bg_img {
  position: relative;
  top: 100px;
  left: 0;
  width: 100%;
  height: 600px;
  z-index: -1;
  background-image: url(../assets/bg.jpg);
  background-position: 50% 40%;
}

.filter_box {
  height: 600px;
  width: 500px;
  position: relative;
  display: flex;
  align-items: center;
  top: 100px;
}
.filter_box .filter {
  background: rgba(0, 0, 0, 0.9);
  width: 450px;
  height: 500px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.filter_box .filter h1 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 1.5em;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 50px;
}

.content_change {
  height: 150px;
  width: 100%;
  position: relative;
  top: 125px;
}
.content_change .title {
  position: absolute;
  top: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2em;
  color: #fff;
}
.content_change .sort {
  position: absolute;
  bottom: 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: #fff;
  width: 300px;
}
.content_change .sort p {
  display: inline-block;
  padding-right: 10px;
}
.content_change .sort .dropdown_box {
  display: inline-block;
  min-width: 200px;
  line-height: 40px;
  padding: 0 15px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.content_change .sort .dropdown_box span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
}
.content_change .sort .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 200px;
  border: 1px solid #fff;
  right: 29px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.content_change .sort .dropdown-content a {
  color: black;
  padding: 0px 20px;
  text-decoration: none;
  display: block;
  font-size: 0.9rem;
}
.content_change .sort .dropdown-content a:hover {
  background-color: rgba(36, 41, 46, 0.9);
  color: #fff;
}
.content_change .sort .dropdown_box:hover .dropdown-content {
  display: block;
}
.content_change .map_show_box {
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 150px;
  line-height: 40px;
  padding: 0px 20px;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: #24292e;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}

.map {
  height: 400px;
  width: 100%;
  position: relative;
  top: 200px;
  background-color: #fff;
  display: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}

.grid_box {
  width: 100%;
  position: relative;
  top: 250px;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 3em;
  padding-bottom: 200px;
}

article {
  color: #fff;
  height: 450px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
  background-color: #fff;
}
article .img_hotel {
  width: 100%;
  height: 200px;
}
article .img_hotel img {
  height: 100%;
  width: 100%;
}
article .hotel_box {
  height: 250px;
  width: 100%;
  padding: 10px 20px 20px 20px;
  color: #24292e;
  position: relative;
}
article .hotel_box .hotel_location {
  width: 100%;
  height: 20px;
}
article .hotel_box .hotel_location p {
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
}
article .hotel_box .hotel_name {
  width: 100%;
  font-size: 0.7em;
  padding: 5px 0px;
  text-transform: uppercase;
}
article .hotel_box .hotel_info_box {
  width: 100%;
  height: 120px;
  left: 0;
  top: 20px;
  position: relative;
}
article .hotel_box .hotel_info_box .hotel_area {
  position: absolute;
  height: 100%;
  width: 65%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
article .hotel_box .hotel_info_box .hotel_area div {
  height: 40px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9em;
}
article .hotel_box .hotel_info_box .hotel_area div img {
  position: absolute;
  height: 90px;
  width: 90px;
  left: -25px;
}
article .hotel_box .hotel_info_box .hotel_area div span {
  position: absolute;
  left: 45px;
}
article .hotel_box .hotel_info_box .hotel_price {
  border-left: 2px solid #24292e;
  position: absolute;
  height: 100%;
  width: 35%;
  right: 0;
  padding-left: 10px;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
}
article .hotel_box .hotel_info_box .hotel_price h1 {
  font-size: 1em;
}
article .hotel_box .hotel_info_box .hotel_price .daily_contet,
article .hotel_box .hotel_info_box .hotel_price .weekly_contet {
  display: block;
  padding-top: 10px;
  font-size: 1.8em;
  font-weight: bold;
}
article .hotel_box .hotel_info_box .hotel_price span {
  display: block;
  font-size: 0.9em;
}

/*# sourceMappingURL=main.css.map */
