html, body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden; }

.main_page {
  height: 100%;
  width: calc(100% - 200px);
  margin: auto; }

/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0 !important;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

li {
  list-style: none; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

:root {
  --font-primary: sans-serif;
  --font-secondary: serif;
  /* set base values */
  --text-base-size: 1em;
  --text-scale-ratio: 1.2;
  /* type scale */
  --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
  --text-sm: calc(1em / var(--text-scale-ratio));
  --text-md: calc(1em * var(--text-scale-ratio));
  --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  /* line-height */
  --heading-line-height: 1.2;
  --body-line-height: 1.4; }

@media (max-width: 1400px) {
  :root {
    --text-base-size: 1.25em;
    --text-scale-ratio: 1.25; } }
body {
  font-size: var(--text-base-size);
  font-family: var(--font-primary);
  color: var(--color-text); }

h1, h2, h3, h4, form legend {
  color: var(--color-text-heading);
  margin-bottom: var(--space-xxs);
  line-height: var(--heading-line-height); }

/* text size */
.text--xxxl {
  font-size: var(--text-xxxl); }

h1, .text--xxl {
  font-size: var(--text-xxl); }

h2, .text--xl {
  font-size: var(--text-xl); }

h3, .text--lg {
  font-size: var(--text-lg); }

h4, .text--md {
  font-size: var(--text-md); }

.text--sm, small {
  font-size: var(--text-sm); }

.text--xs {
  font-size: var(--text-xs); }

p {
  line-height: var(--body-line-height); }

a {
  color: var(--color-link); }
  a:visited {
    color: var(--color-link-visited); }

b, strong {
  font-weight: bold; }

.text-container h2, .text-container h3, .text-container h4 {
  margin-top: var(--space-sm); }
.text-container ul, .text-container ol, .text-container p {
  margin-bottom: var(--space-md); }
.text-container ul, .text-container ol {
  list-style-position: outside;
  padding-left: 24px; }
.text-container ul {
  list-style-type: disc; }
.text-container ol {
  list-style-type: decimal; }
.text-container ul li, .text-container ol li {
  line-height: var(--body-line-height); }
.text-container em {
  font-style: italic; }
.text-container u {
  text-decoration: underline; }

/* utility classes */
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.error {
  width: 30%;
  padding: 10px;
  border: 1px solid #a94442;
  color: #a94442;
  background: #f2dede;
  border-radius: 5px;
  text-align: left;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media (max-width: 1400px) {
    .error {
      top: 15%; } }

header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999; }

.hamburger {
  display: none; }

.line {
  width: 40px;
  height: 7px;
  background-color: #fff;
  margin-bottom: 5px;
  border-radius: 5px; }

.navigation {
  transition: all .6s ease-in-out;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100px; }

.navigation ul {
  display: flex;
  padding-top: 20px; }

.navigation ul li {
  list-style: none;
  padding: 10px;
  cursor: pointer; }

.navigation ul li:first-child {
  padding-right: 30px;
  cursor: unset; }

.navigation ul li:last-child {
  border: 2px solid #fff;
  border-radius: 5px; }

.navigation ul li:last-child:hover {
  background-color: #000; }

.navigation ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  line-height: 1.1rem;
  width: 100%;
  display: inline-block;
  transition: all .3s ease;
  font-family: 'Open Sans', sans-serif; }

.navigation.active {
  left: 0; }

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s; }

.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto; }

.modal-window > div {
  width: 510px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 2em;
  background: #ffffff; }

.modal-window header {
  font-weight: bold; }

.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
  font-family: 'Open Sans', sans-serif; }

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 100%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif; }

.modal-close:hover {
  color: black; }

textarea:focus, input:focus {
  outline: none; }

.form_login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 20px; }

.input_login {
  display: block;
  margin: 5px 0px 20px 0px;
  width: 100%;
  line-height: 30px;
  font-size: 15px;
  border: none;
  border-bottom: 2px solid #000;
  text-align: center; }

.label_login {
  font-size: 1.1rem;
  font-family: 'Open Sans', sans-serif;
  align-items: center; }

.field-wrap_login {
  width: 80%; }

.forgot_login {
  text-decoration: none;
  color: #000;
  font-size: 15px;
  padding-bottom: 20px; }
  .forgot_login a {
    text-decoration: none;
    color: #000; }

.button_login {
  padding: 10px;
  width: 100px;
  font-size: 15px;
  background-color: transparent;
  border: 2px solid #000;
  cursor: pointer; }

.button_login:hover {
  background-color: #000;
  color: #fff; }

/*///////////////////////////////////////////////////////////////////
SIGNUP-FORM
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.signup_form {
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans'; }
  .signup_form .signup_form_group {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 30px; }
    @media (max-width: 1400px) {
      .signup_form .signup_form_group {
        padding-bottom: 10px; } }
  .signup_form label {
    font-weight: bold;
    color: #fff;
    padding-bottom: 10px; }
    .signup_form label::after {
      content: '*';
      padding-left: 5px;
      color: #cb2431; }
    @media (max-width: 1400px) {
      .signup_form label {
        font-size: 0.8em; } }
  .signup_form .input_button {
    font-size: 25px;
    background-color: #E0E0E0;
    border: 1px solid #fff;
    border-radius: 5px;
    padding-left: 10px;
    height: 30px; }
    @media (max-width: 1400px) {
      .signup_form .input_button {
        font-size: 0.8em; } }
  .signup_form .pass_strenght {
    font-size: 0.7em;
    color: #fff;
    padding-top: 10px; }
    @media (max-width: 1400px) {
      .signup_form .pass_strenght {
        font-size: 0.6em; } }
  .signup_form .email_pref {
    font-weight: bold;
    color: #fff;
    padding-bottom: 10px;
    font-size: 0.9em; }
    @media (max-width: 1400px) {
      .signup_form .email_pref {
        font-size: 0.8em; } }
  .signup_form .all_email_box {
    font-size: 0.9em; }
    @media (max-width: 1400px) {
      .signup_form .all_email_box {
        font-size: 0.6em; } }
    .signup_form .all_email_box::after {
      content: none; }
  .signup_form .checkbox {
    height: 15px;
    width: 15px; }
  .signup_form .submit_button {
    height: 60px;
    background-color: #E0E0E0;
    color: #24292e;
    border: none;
    border-radius: 10px;
    font-size: 1.5em;
    font-family: 'Open Sans';
    font-weight: bold;
    cursor: pointer; }
    .signup_form .submit_button:hover {
      background-color: #24292e;
      color: #fff;
      transition-duration: 0.4s;
      border: 2px solid #fff; }
    @media (max-width: 1400px) {
      .signup_form .submit_button {
        height: 40px; } }
  .signup_form .services_box {
    color: #fff;
    padding-top: 40px;
    font-size: 0.8em; }
    @media (max-width: 1400px) {
      .signup_form .services_box {
        font-size: 0.6em;
        padding-top: 20px; } }
    .signup_form .services_box a {
      color: #0366d6; }

.home_body {
  background: url(../assets/house_heroimage.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.hero_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 100px); }

.hero_text {
  font-size: 2.5rem;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 5px;
  width: 850px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 50px; }

.hero_button {
  background-color: #fff;
  border-radius: 20px;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: #000;
  letter-spacing: 5px;
  font-size: 1.5rem; }

.hero_button:hover {
  background-color: #000;
  color: #fff;
  transition-duration: 0.4s; }

@media (max-width: 1400px) {
  .hero_text {
    font-size: 2rem; }

  .hero_button {
    width: 250px;
    height: 40px; } }
.body_join {
  background-color: #24292e; }

.registration {
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
  justify-content: center;
  align-items: center; }

.reg_box {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column; }
  @media (max-width: 1400px) {
    .reg_box {
      width: 50%; } }
  .reg_box h1 {
    font-family: 'Open Sans';
    padding-top: 50px;
    font-size: 1rem;
    color: #E0E0E0; }
  .reg_box h2 {
    font-family: 'Open Sans';
    font-size: 2.5em;
    color: #ffffff;
    padding-bottom: 20px; }
    @media (max-width: 1400px) {
      .reg_box h2 {
        font-size: 1.5em; } }

/*# sourceMappingURL=main.css.map */
