@import '../utils/mixins';
textarea:focus, input:focus{
    outline: none;
  }
  .form_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 20px;
  }
  .input_login {
    display: block;
    margin: 5px 0px 20px 0px;
    width: 100%;
    line-height: 30px;
    font-size: 15px;
    border: none;
    border-bottom: 2px solid #000;
    text-align: center;
  }
  .label_login {
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
  }
  .field-wrap_login {
    width: 80%;
  }
  .forgot_login {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    padding-bottom: 20px;
    a {
      text-decoration: none;
      color: #000;
    }
  }
  .button_login { 
    padding: 10px;
    width: 100px;
    font-size: 15px;
    background-color: transparent;
    border: 2px solid #000;
    cursor: pointer;
  }
  .button_login:hover {
    background-color: #000;
    color: #fff;
  }
/*///////////////////////////////////////////////////////////////////
SIGNUP-FORM
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.signup_form {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans';
  .signup_form_group {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 30px;
    @include respond-to(large) {
      padding-bottom: 10px;
    }
  }
  label {
    font-weight: bold;
    color: #fff;
    padding-bottom: 10px;
    &::after {
      content: '*';
      padding-left: 5px;
      color: #cb2431;
    }
    @include respond-to(large) {
      font-size: 0.8em;
    }
  }
  .input_button {
    font-size: 25px;
    background-color: #E0E0E0;
    border: 1px solid #fff;
    border-radius: 5px;
    padding-left: 10px;
    height: 30px;
    @include respond-to(large) {
      font-size: 0.8em;
    }
  }
  .pass_strenght {
    font-size: 0.7em;
    color: #fff;
    padding-top: 10px;
    @include respond-to(large) {
      font-size: 0.6em;
    }
  }
  .email_pref {
    font-weight: bold;
    color: #fff;
    padding-bottom: 10px;
    font-size: 0.9em;
    @include respond-to(large) {
      font-size: 0.8em;
    }
  }
  .all_email_box {
    font-size: 0.9em;
    @include respond-to(large) {
      font-size: 0.6em;
    }
    &::after {
      content: none;
    } 
  }
  .checkbox {
    height: 15px;
    width: 15px;
  }
  .submit_button {
    height: 60px;
    background-color: #E0E0E0;
    color: #24292e;
    border: none;
    border-radius: 10px;
    font-size: 1.5em;
    font-family: 'Open Sans';
    font-weight: bold;
    cursor: pointer;
    &:hover {
      background-color: #24292e;
      color: #fff;
      transition-duration: 0.4s;
      border: 2px solid #fff;
    }
    @include respond-to(large) {
      height: 40px;
    }
  }
  .services_box {
    color: #fff;
    padding-top: 40px;
    font-size: 0.8em;
    @include respond-to(large) {
      font-size: 0.6em;
      padding-top: 20px;
    }
    a {
      color: #0366d6;
    }
  }
}
/*///////////////////////////////////////////////////////////////////
FILTER-FORM
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.filter_form {
  height: 80%;
  width: 400px;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans';
  color: #fff;
  @include respond-to(large) {
    width: 350px;
  }
  .filter_group {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 30px;
    label {
      font-weight: bold;
      color: #fff;
      padding-bottom: 10px;
      @include respond-to(large) {
        font-size: 0.8em;
      }
    }
    .input_button {
      font-size: 1em;
      background-color: transparent;
      border: 1px solid #fff;
      border-radius: 5px;
      padding-left: 10px;
      height: 30px;
      color: #fff;
      @include respond-to(large) {
        font-size: 0.8em;
      }
    }
  }
  .submit_button {
    height: 40px;
    background-color: #fff;
    color: #24292e;
    border: none;
    border-radius: 10px;
    font-size: 1.3em;
    font-family: 'Open Sans';
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    @include respond-to(large) {
      font-size: 1.1em;
    }
    &:last-child {
      margin-top: 20px;
    }
    &:hover {
      background-color: #24292e;
      color: #fff;
      transition-duration: 0.4s;
      border: 2px solid #fff;
    }
    @include respond-to(large) {
      height: 40px;
    }
  }
  .filter_group_row{
    display: flex;
    flex-direction: rows;
    justify-content: center;
    width: 100%;
    .filter_group_row_box {
      width: 100%;
      padding-bottom: 30px;
      label {
        font-weight: bold;
        color: #fff;
        padding-bottom: 10px;
        @include respond-to(large) {
          font-size: 0.8em;
        }
      }
      .input_row {
        font-size: 1em;
        background-color: transparent;
        border: 1px solid #fff;
        padding-left: 10px;
        height: 30px;
        width: 100%;
        color: #fff;
        margin-top: 10px;
        font-family: 'Open Sans';
        @include respond-to(large) {
          font-size: 0.8em;
        }
        option {
          background-color: #000;
        }
      }
      .left {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      .right {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}
/*///////////////////////////////////////////////////////////////////
RESERVATION-FORM
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.reservation_form {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans';
  color: #fff;
  padding: 30px;
  .reservation_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    .reservation_column {
      width: 45%;
      height: 40px;
    }
  }
  .input_reservation {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    color: #24292e;
    font-weight: bold;
    border: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    font-size: 0.9em;
    border-radius: 3px;
    option {
      background-color: #24292e;
      color: #fff;
      font-size: 1.1em;
    }
  }
  .text-holder {
    width: 100%;
    padding: 20px 0px;
    .text_area {
      padding-top: 10px;
      font-size: 1.2em;
    }
  }
  .privacy_policy {
    font-size: 0.8em;
    a {
      color: #0366d6;
    }
  }
  .privacy_policy_button {
    height: 20px;
    width: 200px;
    top: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    .round label {
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 50%;
      cursor: pointer;
      height: 28px;
      left: 0;
      position: absolute;
      top: -5px;
      width: 28px;
    }
    
    .round label:after {
      border: 2px solid #fff;
      border-top: none;
      border-right: none;
      content: "";
      height: 6px;
      left: 7px;
      opacity: 0;
      position: absolute;
      top: 8px;
      transform: rotate(-45deg);
      width: 12px;
    }
    
    .round input[type="checkbox"] {
      visibility: hidden;
    }
    
    .round input[type="checkbox"]:checked + label {
      background-color: #66bb6a;
      border-color: #66bb6a;
    }
    
    .round input[type="checkbox"]:checked + label:after {
      opacity: 1;
    }
    .agree {
      padding-left: 25px;
    }
  }
.form_footer {
  width: 100%;
  height: 50px;
  margin-top: 40px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .book_button {
    width: 200px;
    height: 50px;
    font-family: 'Open Sans';
    color: #24292e;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    &:hover {
      background-color: #24292e;
      color: #fff;
      transition-duration: 0.4s;
      border: 2px solid #fff;
    }
  }
  .price_holder {
    width: 300px;
    height: 50px;
    background-color: #f0f0f0;
    border-radius: 3px;
    font-family: 'Open Sans';
    color: #24292e;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 1.2em;
      color: #24292e;
      span {
        font-size: 1.4em;
      }
    }
  }
}
}