textarea:focus, input:focus{
    outline: none;
  }
  .form_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 20px;
  }
  .input_login {
    display: block;
    margin: 5px 0px 20px 0px;
    width: 100%;
    line-height: 30px;
    font-size: 15px;
    border: none;
    border-bottom: 2px solid #000;
    text-align: center;
  }
  .label_login {
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
  }
  .field-wrap_login {
    width: 80%;
  }
  .forgot_login {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    padding-bottom: 20px;
    a {
      text-decoration: none;
      color: #000;
    }
  }
  .button_login { 
    padding: 10px;
    width: 100px;
    font-size: 15px;
    background-color: transparent;
    border: 2px solid #000;
    cursor: pointer;
  }
  .button_login:hover {
    background-color: #000;
    color: #fff;
  }
/*///////////////////////////////////////////////////////////////////
SIGNUP-FORM
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.signup_form {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans';
  .signup_form_group {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 30px;
    @include respond-to(large) {
      padding-bottom: 10px;
    }
  }
  label {
    font-weight: bold;
    color: #fff;
    padding-bottom: 10px;
    &::after {
      content: '*';
      padding-left: 5px;
      color: #cb2431;
    }
    @include respond-to(large) {
      font-size: 0.8em;
    }
  }
  .input_button {
    font-size: 25px;
    background-color: #E0E0E0;
    border: 1px solid #fff;
    border-radius: 5px;
    padding-left: 10px;
    height: 30px;
    @include respond-to(large) {
      font-size: 0.8em;
    }
  }
  .pass_strenght {
    font-size: 0.7em;
    color: #fff;
    padding-top: 10px;
    @include respond-to(large) {
      font-size: 0.6em;
    }
  }
  .email_pref {
    font-weight: bold;
    color: #fff;
    padding-bottom: 10px;
    font-size: 0.9em;
    @include respond-to(large) {
      font-size: 0.8em;
    }
  }
  .all_email_box {
    font-size: 0.9em;
    @include respond-to(large) {
      font-size: 0.6em;
    }
    &::after {
      content: none;
    } 
  }
  .checkbox {
    height: 15px;
    width: 15px;
  }
  .submit_button {
    height: 60px;
    background-color: #E0E0E0;
    color: #24292e;
    border: none;
    border-radius: 10px;
    font-size: 1.5em;
    font-family: 'Open Sans';
    font-weight: bold;
    cursor: pointer;
    &:hover {
      background-color: #24292e;
      color: #fff;
      transition-duration: 0.4s;
      border: 2px solid #fff;
    }
    @include respond-to(large) {
      height: 40px;
    }
  }
  .services_box {
    color: #fff;
    padding-top: 40px;
    font-size: 0.8em;
    @include respond-to(large) {
      font-size: 0.6em;
      padding-top: 20px;
    }
    a {
      color: #0366d6;
    }
  }
}
/*///////////////////////////////////////////////////////////////////
FILTER-FORM
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.filter_form {
  height: 80%;
  width: 400px;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans';
  color: #fff;
  .filter_group {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 30px;
    label {
      font-weight: bold;
      color: #fff;
      padding-bottom: 10px;
      @include respond-to(large) {
        font-size: 0.8em;
      }
    }
    .input_button {
      font-size: 1em;
      background-color: transparent;
      border: 1px solid #fff;
      border-radius: 5px;
      padding-left: 10px;
      height: 30px;
      color: #fff;
      @include respond-to(large) {
        font-size: 0.8em;
      }
    }
  }
  .submit_button {
    height: 40px;
    background-color: #fff;
    color: #24292e;
    border: none;
    border-radius: 10px;
    font-size: 1.3em;
    font-family: 'Open Sans';
    font-weight: bold;
    cursor: pointer;
    &:hover {
      background-color: #24292e;
      color: #fff;
      transition-duration: 0.4s;
      border: 2px solid #fff;
    }
    @include respond-to(large) {
      height: 40px;
    }
  }
  .filter_group_row{
    display: flex;
    flex-direction: rows;
    justify-content: center;
    width: 100%;
    .filter_group_row_box {
      width: 100%;
      padding-bottom: 30px;
      label {
        font-weight: bold;
        color: #fff;
        padding-bottom: 10px;
        @include respond-to(large) {
          font-size: 0.8em;
        }
      }
      .input_row {
        font-size: 1em;
        background-color: transparent;
        border: 1px solid #fff;
        padding-left: 10px;
        height: 30px;
        width: 100%;
        color: #fff;
        margin-top: 10px;
        font-family: 'Open Sans';
        @include respond-to(large) {
          font-size: 0.8em;
        }
        option {
          background-color: #000;
        }
      }
      .left {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      .right {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
}